.block{
  padding: 15px 35px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.task{
  padding: 10px 5px;
  border-bottom: 2px solid seagreen;
  border-right: 2px solid seagreen;
  &_name{
      font-weight: 800;
      font-size: 18px;
  }
  &_desc{
    font-size: 12px;
    width: max-content;
    padding: 15px 0;
  }
  
  &_date{
    color: red;
    
  }
  &_id{
    padding: 15px 0px;
    
  }
  button{
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 500ms ease;
    &:hover{
      opacity: 0.8;
    }
  }
}